@page "/multisplitbutton"

<Example Name="MultiSplitButton">
   <span title="aaaaaa">
	<MultiSplitButton Style="width: 300px;" ButtonsDataSource="buttons" OnItemClick=OnItemClick>
		<ListItem value="Afghanistan"><div title="bbbbbb">Afghanistan</div></ListItem>
	</MultiSplitButton>
   </span>
</Example>

@code {
   private string[] buttons = new string[] { "Switch Button" };

   private void OnItemClick(Event e)
   {
      var detail = e["Detail"];
   }
}
