@page "/treegridnotupdate"

<div>
   <Tree @ref=tree IsExpanded="true">
      @foreach (var treeItem in StringItems)
      {
      <TreeItemsGroup>
            @treeItem
            <TreeItem>
               @treeItem
            </TreeItem>
      </TreeItemsGroup>
      }
   </Tree>

   <button @onclick="OnClick">Update</button>
</div>

@code {

   public List<string> StringItems { get; set; } = new List<string>();

   private Tree tree;

   protected override void OnInitialized()
   {
      base.OnInitialized();

      this.StringItems = new List<string>()
      {
         "Item 1",
         "Item 2",
      };
   }

   private void OnClick()
   {
      StringItems.Add("Item 3");

      tree.StateHasChanged();
   }

}
